<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> 

<body class="container">
  <%- include('../partials/header', { pagina: 'Sobre' }) %> 
 
  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Apaixonado por técnologia e amo programar para web 🚀</p>
    </div>
  </main>

  <%- include('../partials/footer') %> 
</body>
</html>